<%- include("../header.html") -%>

<h1>Liste des catégories (<%= model.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Catégorie</th>
        <th class="d-print-none">
          <a class="btn btn-sm btn-success" href="/create/category">Ajouter</a>
        </th>
      </tr>
    </thead>
    <tbody>
      <% for (const category of model) { %>
      <tr>
        <td><%= category.categoryName %></td>
        <td class="d-print-none">
          <a class="btn btn-sm btn-warning" href="/edit/category/<%= category.id %>">Modifier</a>
          <a class="btn btn-sm btn-danger" href="/delete/category/<%= category.id %>"
            >Supprimer</a
          >
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>

<%- include("../footer.html") -%>
